/**  Mixins */
 @import "mixins/sass-rem";
 @import "mixins/break-point";

/** Global **/
@import "common/fonts";
@import "common/reboot";
@import "common/base";
@import "common/global";
@import "common/header";
@import "common/footer";

/** Sections */

@mixin background-certer {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-origin: border-box; 
	background-position: center center;
	background-repeat:no-repeat;
}

body {
	color: white;
	justify-content: center;
}

nav {
	width: 100%;
	// max-width: 1400px;
	height:30vh;
	max-height: 230px;
	position: fixed;
	z-index: 1;
	display: flex;
	margin: 0 auto;
	justify-content: space-between;

	.logo {
		margin-left: rem(65px);
		display: flex;
		align-content: center;
		align-items: center;
		margin-right: 0;
		font-family: 'Trebuchet MS', sans-serif;
		// styles tag h2 child of logo
		.head__desct {
			text-align: center;
			
		}
		.head__globar {
			display: flex;
			margin-left: 15px;
			text-align: center;
			.head__desct--dis {
				border-left: 2px solid white;
				padding-left: 10px;
				.desct__h3 {
					font-size: 26px;
					margin-top: -2px	;
					margin-bottom: -6px;
				}
				.desct__text {
					font-size: 15px;
					margin-bottom: -2px;
				}
			}
			.head__desct--per {
				border-left: 2px solid white;
				padding-left: 10px;
				font-size: 26px;
				position: relative;
				.desct__h3 {
					display: block;
				}
				.head__triangle {
					margin-left: -10px;
					margin-top: 25px;
					position: absolute;
			    	width: 0;
			    	height: 0;
			    	border-top: 5px solid transparent;
			    	border-left: 5px solid white;
			    	border-bottom: 5px solid transparent;
			    }
		}
		}
		.head__desct--logo {
			.logo__h3 {
				font-size: 48px;
    			margin: -15px auto;

    			.logo__h3--sty {
    				color: #b1c484;
    			}
			}
			.desct__logo {
				font-size: 15px;
				margin-top: 10px;
				margin-left: 5px;
				margin-bottom: -10px;
			}
		}
		
	}
	.toggle {
		width: 20%;
		position: relative;
		padding-top: 30px;
		padding-right: 35px;
		float: right;

		.toggle__bar {
			position: absolute;
			cursor: pointer;
			right: 0;
			top: 0;
			float: right;
			z-index: 2;
			position: relative;
			
			.bar__check {
				position: absolute;
				width: 40px;
				height: 35px;
				left: 2px;
				top: -2px;
				opacity: 0;
				cursor: pointer;
				z-index: 2;
			}

			.bar__line {
				width: 35px;
				height: 3px;
				background: white;
				margin: 5px;
				transition: all .5s;
			}
			/*this is transtion for line */
			.bar__line:nth-child(2) {
				transform-origin: 0 0;
			}
			.bar__line:nth-child(4) {
				transform-origin: 0 100%;
			}
			.bar__check:checked ~ .bar__line:nth-child(2) {
				transform: rotate(45deg) translate(-1px, -1px);
			}
			.bar__check:checked ~ .bar__line:nth-child(4) {
				transform: rotate(-45deg) translate(-5px, 5px);
			}
			.bar__check:checked ~ .bar__line:nth-child(3) {
				transform: scale(0);
				opacity: 0;
			}
			/* the end transtion for line */
		}

		.toggle__links {
			width: 348px; 
			height: 100vh;
			max-height: 787px;
			background: black;
			right: 0;
			top: 0;
			position: absolute;
			transform: translateX(100%);
			transition: all 1s;
			opacity: 0;

			.links__center {
				position: absolute;
				bottom: 0;
				color: white;
				
				.center__list {
					font-size: 12px;
					list-style: none;
					justify-content: space-around;
					align-items: center;
					margin:10px auto;
					li {
						margin: 10px auto;	
					}

				}
				.center__list--block {
					margin-bottom: 200px;
				}
				.center__list--img {
					display: flex;
					margin: 35px 0;
					li {
						margin: 0 10px;
					}
				}
			}

		}
		.toggle__links.toggle__links--slide {
			opacity: 1;
			z-index: 1;
			transform: translateX(0%);
		}
	}
}

.slide {
	width: 20px;
	position: fixed;
	margin-right: 30px;
	right: 0;
	transform: translateY(-50%);
	top: 50%;
	z-index: 1;
	div {
		width: 10px;
		height: 10px;
		border: 2px solid white;
		border-radius: 50%;
		margin: 5px 0;
	}
	div:hover {
		background: white;
	}
}

.section {
	height: 100vh;
	width: 100%;
	justify-content: center;
	align-items: flex-end;
	display: flex;
	font-family: 'Trebuchet MS', sans-serif;
	background: #22231c;
	overflow: hidden;
	margin: 0 auto;
	.content__container {
		margin: 0 auto;
		width: 80%;
		margin-top: 200px;	
		height: 570px;
		//max-height: 80vh;
		position: relative;
		.content__bottom {
			width: 100%;
			bottom: 25px;
			position: absolute;
			text-align: center;
			margin-top: 3vh;
			.bottom__img {
				margin: 0 auto;
			}
		}
	
	}
} 

.content--first {
	background-image: url("../images/background1.png");
	@include background-certer;
	.first__style {
		display: flex;
		padding: 10px;
		.first__style--h4 {
			display: flex;
			h4 {
				width: 70px;
				line-height: 70px;
				height: 480px;
				margin: -15px 30px -10px -10px;
				font-size: 70px;
			}
		}
		.first__style--p {
			display: flex;
			p {
				width: 20px;
				line-height: 20px;
	    		margin-left: 10px;
			}
		}
	}	
}

.content--second {
	display: flex;
	background-image: url("../images/background2.png");
	@include background-certer;
	.second__sty {
		display: flex;
		margin-top: 40px;
		justify-content: center;
		.second__left {
			display: flex;
		
			.second__left--p {
				display: flex;
				p{
					width: 15px;
					font-size: 15px;
					margin: 0 10px;
				}
			}
			.second__left--h4 {
				display: flex;
				h4 {
					width: 60px;
					line-height: 60px;
					font-size: 60px;
					position: relative;
					margin-left: 10px;
					p {
						position: absolute;
						transform: rotate(90deg) translate(20px, 25px);
					}
					span {
						position: absolute;
						transform: translate(-10px, 110px);
						text-align: right;
					}
				}
			}	
		}
		.second__right {
			margin-left: 40px;
			text-align: center;
			.second__img {
				margin: 0 15px;
				.img__sty {
					margin: 0 40px;
				}
			}
		}
		.second__content {
			margin-top:35px; 
			h6 {
				font-size: 15px;
				letter-spacing: 3px;
			}
			h3 {
				margin: 20px 50px;
				font-size: 46px;
				border-bottom: 2px solid white;
				letter-spacing: 3px;
			}
			h4 {
				margin: 10px;
				letter-spacing: 4px;
				font-size: 25px;
			}
			p {
				margin: 15px 0px 15px 15px;
				font-size: 13px;
				letter-spacing: 3px;
			}
			.content__btn {
				margin: 15px 0;
				padding: 10px 30px;
				background: black;
				color: white;
				border-radius: 30px;
				letter-spacing: 3px;
				font-size: 18px;
			}
		}
	}
}

.content--third {
	background-image: url("../images/background3.png");
	@include background-certer;
	.third__sty {
		display: block;
		.third__head {
			text-align: center;
			h3 {
				text-align: center;
				font-size: 24px;
				letter-spacing: 2px;
			}
		}
		.third__tab {
			display: flex;
			justify-content: center;
			margin-top: 50px;
			.tab {
				display: flex;
				h2 {
					font-size: 36px;
    				margin-top: -10px;
				}
			}
			.tab__three {
				margin-top: 20px;
			}
			.tab--one {
				.tab__content {
					p {
						transform: translateY(20px);

					}
				}
			}
			.tab__content {
				margin-left: 15px;
				padding-left: 20px;
				border-left: 2px solid white;
				margin-bottom: 10px;
				h3 {
					font-size: rem(24px);
				    margin-bottom: 15px;
					margin-top: -5px;
				}
				p {
					font-size: rem(16px);
				    margin-top: 20px;
				    margin-bottom: -5px;}
				
			}
		}
	}
}

.content--four {
	justify-content: center;
	background-image: url("../images/background3.png");
	@include background-certer;
	.four__sty {
		.four__title {
			text-align: center;
			font-size: 26px;
			letter-spacing: 3px;
		}
		.four__tab {
			width: 80%;
			margin: 30px auto;
		}
		.four__tab--one {
			border-left: 1px solid white;
			table {
				width: 100%;
				td {
					padding-left: 15px;

				}
			} 
		}
		.four__tab--two {
			
			table {
				width: 100%;
				border-spacing: 5px;
				border-collapse: separate;
				td {
					text-align: center;
					background: rgba(10, 10, 10,0.5);
					
				}
				.td__sty {
					
					.p--sty {
						color: white;
						margin-bottom: 0;
						text-decoration: line-through;
						text-decoration-color: red;
					}
					span {
						position: absolute;
						color: red;
						transform: translate(70px, -25px);
					}
				}
			}
			
		}
		.four__tab--three {
			display: none;
		}
	}
}

.content--five {
	background-image: url("../images/background3.png");
	@include background-certer;
	.five__sty {
		//width: 85%;
		margin: 40px auto;
		.five__head {
			display: flex;
			justify-content: space-around;
			.five__left {
				width: 50%;
				.five__tab {
					border-left: 1px solid white;
					table {
						width: 100%;
						td {
							margin-left: 15px;
							padding-left: 15px;
							font-size: 15px;
						}
					}
				}
				.five__desct {
					
					margin: 20px 0;
					h4 {
						line-height: 3rem;
						margin: 0;
						font-size: rem(32px);
						letter-spacing: 5px;
					}
				}
			}	
			.five__right {
				width: 365px;
			}
		}
		.five__botton {
			display: flex;	
    		justify-content: space-around;
    		margin-top: 40px;
    		.botton__btn {
    			width: 242px;
    			height: 55px;
    			padding: 15px 20px;
    			
    			text-align: center;
    			border-radius: 50px;
    			align-items: center;
    			font-size: 18px;
    			letter-spacing: 2px;
    		}
    		.botton__btn + .botton__btn {
    			margin-left: 40px;
    		}
    		.botton__btn--left {
    			background: #6d6e71;
    		}
    		.botton__btn--center {
    			background: #2bb673;
    			p {
    				margin: -10px 0;
    			}
    		}
    		.botton__btn--right {
    			background: #bcbec0; 
    			color: #6d6e71;
    			p {
    				margin: -10px 0;
    				span {
    					font-size: 12px;
    					letter-spacing: 0px;
    				}
    			}
    		}
		}
	}
}

.content--six {
	background-image: url("../images/background3.png");
	@include background-certer;
	.six__sty {
		justify-content: space-around;
		.six__form {
			width: 765px;
			margin: 0 auto;
			.six__form--sty {
				height: 330px;
				justify-content: space-between;
				text-align: center;
				div {
					display: flex;
					justify-content: space-between;
					label {
						position: absolute;
						top: 0;
						font-size: 20px;
						span {
							color: red;
						}
					}
					input[type=text] {
						width: 356px;
						height: 39px;
						margin-top: 40px;
						margin-bottom: 15px;
						border: 1px solid #ccc;
						border-radius: 5px;
						box-sizing: border-box;
					}
					.form__label--one {
						transform: translate(0px, 10px);
					}
					.form__label--two {
						transform: translate(410px, 10px);	
					}
					.form__label--three {
						
						transform: translate(0px, 105px);
					}
					.form__label--four {
						transform: translate(410px, 105px);
					}
				}
				.form__label--five {
					    top: 0;
					    position: absolute;
					    transform: translate(0px, 195px);
					    letter-spacing: 3px;
					    font-size: 20px;
				}
				textarea {
					margin-top: 40px;
					width: 100%;
					height: 121px;
					border-radius: 5px;
				}
				input[type=submit] {
					margin-top: 40px;
					width: 327px;
					height: 56px;
					text-align: center;
					color: white;
					background: #6d6e71;
					border-radius: 50px;
					font-size: 18px;
					letter-spacing: 2px;
					border: none;
				}
			}
			
		}
	}
	.six__footer {
		width: 100%;
		position: absolute;
		bottom: 0;
		left: 0;
		display: flex;
		justify-content: space-between;
		align-items: center;
		font-size: 12px;
		h3 {
			margin-top: 50px;
			font-size: rem(15px);
		}
		img {
			margin-bottom: 15px;
		}
	}
}

@media only screen and (max-width: 795px) {
	body {
		height: 100vh;
		overflow-x: hidden;
	}
	.slide {
		display: none;
	}
  	nav {
	  	position: absolute;
	  	overflow-x: hidden;
	  	display: block;

	  	.logo {
  			display: block;
  			margin-top: 40px;
  			margin-left: 0;
  			.head__desct {
  				width: 100%;
  				height: 52px;
  				left: 0;
  			}
  			.head__globar {
  				width: 100%;
  				display: flex;
    			justify-content: center;
    			margin-top: 40px;
    			margin-left: 0;
  			}	font-size: rem(12px);
  		}
	  	.toggle {
  			display: none;
  		}
	}
	.section {
		height: 600px;
		width: 100%;
		overflow: hidden;
		.content__bottom {
			width: 100%;
			margin-bottom: -35px;
			position: absolute;
			text-align: center;
			margin-top: 25px;
			.bottom__img {
				width: 35px;
				margin: 0 auto;
			}
		}
	}
	.content--first {
		height: 100vh;
		background-size: auto 52%;
		overflow: hidden;
		display: block;
		font-size: rem(12px);
		.content__container {
			.first__style {
				width: 100%;
				height: 100vh;
				display: block;
				align-content: flex-end;
				.first__style--h2 {
					
					h4 {
						top: 205px;
						width: 24px;
						right: 25px;
						position: absolute;
						font-size: 1.5rem;
						line-height: 1.5rem;
						span {
							position: absolute;
							width: 24px;
							top: 100px;
							right: 0;

						}
					}
				}
				.first__style--p {
					display: block;
					text-align: center;
					p {
						width: 100%;
						margin-bottom: 0px;
						display: block;
						bottom: 0;
						margin-left: 0;

					}
				}
				

			}
		}
	}
	.content--second {
		background-size: auto 100%;
    	background-position-x: -100px;
    	.content__container {
    		width: 100%;
    		height: 100vh;
    		background-color: rgba(56, 53, 53, 0.3);
    		.content__bottom {
	    		display: none;
	    	}
	    	.second__sty {
	    		width: 100%;
	    		height: 100vh;
	    		margin-top: 0;
	    		display: block;
	    		.second__left {
	    			height: 200px;
	    			display: block;
	    			align-content: space-between;
	    			.second__left--p {
	    				width: 100%;
	    				position: absolute;
	    				top: 200px;
					    text-align: center;
					    margin-top: -40px;
					    margin-left: 0;
					    font-size: rem(10px);
					    p:nth-child(1) {
					    	transform: translateY(45px);
					    }
	    			}
	    			.second__left--h4 {
	    				width: 100%;
	    				font-size: rem(40px);
	    				display: flex;
	    				justify-content: center;
	    				margin-top: rem(40px);
	    				margin-left: 0;
	    				h4 {
	    					width: rem(37px);
	    					.left__sty {
	    						transform: rotate(90deg) translate(15px, 15px);
	    						letter-spacing: 3px;
	    					}
	    					span {
	    						transform: translateY(65px);
	    					}
	    				}
	    			}
	    		}
	    		.second__right {
	    			width: 100%;
	    			margin-left: 0;
	    			.second__img {
	    				display: flex;
	    				justify-content: center;
	    				img {
	    					width: rem(46px);
	    					height: rem(46px);
	    					margin: 0 20px;
	    				}
	    			}
	    			.second__content {
	    				width: 100%;
	    				h3 {
	    					margin: 20px 40px;
	    					font-size: rem(25px);
	    				}
	    				h4 {
	    					font-size: rem(14px);
	    				}
	    				p {
	    					font-size: rem(7px);
	    				}

	    			}

	    		}
	    	}
    	}
	}
	.content--third {
		background-size: auto 100%;
    	background-position-x: -500px;
    	.content__container {
    		.third__sty {
    			.third__head {
    				h3 {
    					text-align: justify;
	    				text-justify: inter-word;
	    				width: 100%;
	    				font-size: rem(22px);
	    				
		    		}
    			}
    			.third__tab {
	    			display: block;
	    			.tab {
		    			h2 {
		    				font-size: rem(24px);
		    				    margin-right: 5px;
   								margin-top: -5px;
		    			}
						.tab__content {
							margin-left: 0px;
							padding-left: 15px;
							h3 {
								font-size: rem(14px);
								margin-bottom: 7px;
								margin-top: 0px;
							}
							p {
								font-size: rem(10px);
								margin-top: 10px;
								margin-bottom: -5px;
								transform: translateY(0px);
							}
						}
					}
					.tab__duo {
						margin-top: 20px;
					}
	    		}
    		}
    		.content__bottom {
    			display: none;
    		}
    		
    	}
	}
	.content--four {
		background-size: auto 100%;
    	background-position-x: -500px;
    	.content__container {
    		.four__sty {
    			.four__title {
    				text-align: center;
    				h3 {
    					font-size: rem(20px);
    				}
    				h3:nth-child(2) {
    					line-height: rem(34px);
    				}
    			}
    			.four__tab {
    				width: 100%;
    				margin: 35px 0;
    				font-size: rem(10px);
    				border: none;
    				table {
    					td {
    						letter-spacing: 2px;
    					}
    					td:nth-child(1) {
    						min-width: 75px;
    					}
    					td:nth-child(3) {
    						display: none;
    					}
    				}

    			}
    			.four__tab--two {
    				table {
    					td:nth-child(3) {
    						display: none;
    					}

    					.td__sty {
    						span {
    							transform: translate(55px, -15px);
    						}
    					}
    				}
    			}
    			.four__tab--three {
    				table {
    					td:nth-child(2) {
    						display: none;
    					}
    					td:nth-child(3) {
    						display: block;
    					}

    				}
    			}
    		}
    		.content__bottom {
    			display: none;
    		}
    	}
	}
	.content--five {
		background-size: auto 100%;
    	background-position-x: -500px;
    	.content__container {
    		width: 100%;
    		.five__sty {
    			margin-top: 0;
    			.five__head {
    				height: 440px;
    				display: block;
    				.five__left {
    					height: 100%;
    					width: 100%;
    					display: block;
    					justify-content: center;
    					align-content: space-between;
    					.five__tab {
    						width: 90%;
    						margin: 0 auto;
    						border: none;
    					}
    					.five__desct {
    						width: 100%;
    						position: absolute;
    						top: 350px;
    						h4 {
	    						font-size: rem(15px);
	    						text-align: center;
    						}

    					}
    				}
    				.five__right {
    					width: 100%;
    					position: absolute;
    					top: 85px;
    					justify-content: center;
    					img {
    						height: 270px;
    						width: 100%;
    					}
    				}
    			}
    			.five__botton {
    				display: block;
    				margin-top: -15px;
    				.botton__btn {
    					width: 180px;
    					height: 32px;
    					padding: 0;
    					margin: 10px auto;
    					p {
    						margin-top: 5px;
    						font-size: rem(12px);
    					}
    				}
    				.botton__btn--left {
    					p {
	    					padding: 7px;
	    				}
    				} 
    			}
    		}
    	}
	}
	.content--six {
		background-size: auto 100%;
    	background-position-x: -500px;
    	.content__container {
    		width: 100%;
    		.six__sty {
    			width: 90%;
    			margin: 0 auto;
    			.six__form {
    				width: 100%;
    				.six__form--sty {
    					width: 100%;
    					display: block;
    					justify-content: center;
    					div {
    						display: block;
    						label {
    							position: absolute;
    							font-size: rem(12px);
    						}
    						.form__label--one {
    							transform: translate(0px, 5px);
    						}
    						.form__label--two {
    							transform: translate(0px, 50px);
    						}
    						.form__label--three {
    							transform: translate(0px, 95px);
    						}
    						.form__label--four {
    							transform: translate(0px, 145px);
    						}
    						
    						input {
    							width: 100%;
    							height: 20px;
    							margin-top: 25px;
    							margin-bottom: 0;
    						}
    					}
    					.form__label--five {
    						font-size: rem(12px);
							transform: translate(0px, 205px);
						}
						textarea {
							width: 100%;
							height: 90px;
						}
						input {
							width: 160px;
							height: 30px;
							padding: 0;
							font-size: rem(12px);
							margin-top: 20px;
						}
    				}
    			}
    		}
    		.six__footer {
	    		display: block;
	    		text-align: center;
	    		justify-content: center;
	    		img {
	    			height: 100px;
	    		}
	    		h3 {
	    			border-top: 1px solid black;
	    			margin: 0;
	    			padding: 10px 30px;
	    			font-size: rem(12px);
	    		}
	    	}

    	}
    	
	}	
}


